body{
    background-color: rgb(20, 115, 174);
    font: 1.2em sans-serif;
    padding:5px;
    font-size: 20px;
}
label{
    background-color: rgb(31, 155, 233);
    padding: 5px;
    border-radius: 10px;
    border: 10px;
    margin-top: 5px;
}
input{
    background-color: rgb(30, 124, 218);
    border-radius: 10px;
}
h1{
    background-color: rgb(235, 106, 31);
}
/* button{
    font-size: 40px;
    background-color: rgb(203, 221, 40);
    border-radius: 10px;
}
button:hover {
    background-color: rgb(189, 189, 7);
  } */
a{
    background-color: rgb(214, 195, 187);
}