body{
    background-color: rgb(42 202 245 / 77%);
    font: 1.2em sans-serif;
    padding:5px;
    font-size: 20px;
}
label{
    background-color: rgb(230, 17, 141);
    padding: 5px;
    border-radius: 10px;
    border: 10px;
    margin-top: 5px;
}
input{
    background-color: rgb(214, 74, 9);
    border-radius: 10px;
}
h1{
    background-color: rgba(193, 243, 12, 0.932);
}
/* button{
    font-size: 40px;
    background-color: rgb(203, 221, 40);
    border-radius: 10px;
}
button:hover {
    background-color: rgb(189, 189, 7);
  } */
a{
    background-color: rgb(236, 248, 15);
}
